<section class="container-fluid" ng-init="loadPosts()">
	<h1 class="text-center">Post</h1>
	<div class="margin-up text-center">
		<div class="card post" ng-repeat="post in uPosts | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize |orderBy:'-created'">
			<article class="panel panel-default">
				<div class="panel-heading">
				  <div class="card-block">
				    <h3 class="card-title text-center">{{post.title}}</h3>
				    <h6 class="card-subtitle text-muted">
				    	<div class="text-left">{{post.created | date:'mediumDate'}}</div>
				    	<div class="candidate-post-comments" style="text-align:right">
				    		<strong>{{post.numComments}}</strong> comentarios
				    	</div>
				    </h6>
				  </div>
				</div>
				<a href="#/posts/{{post._id}}" class="card-link right">
					<figure class="text-center candidate__post__image">
						<img ng-src="{{post.image.url}}" alt="image_post">
					</figure>
				</a>
				<div class="panel-footer" style="text-align:left;">
					<figure  class="left">
						<img ng-src="{{post.user.image.url}}" alt="candidato" class="comments-avatar">
					</figure>
					<a href="#/candidatos/{{post.candidate._id}}">{{post.user.displayName}}</a><br>
					<small class="olive-light">{{post.user.program}}</small>
				</div>
			</article>
		</div>
    <div class="text-center">
      <pagination total-items="uPosts.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
    </div>
	  <div class="alert alert-warning text-center container" ng-if="!uPosts.length">
	    <h2>No hay posts</h2>
	  </div>
	</div>
</section>
