<section class="container-fluid" ng-init="myPosts()">
	<h1 class="text-center margin-down"> Mis Posts</h1>
	<div class="content">
		<div class="post" ng-repeat="post in posts | orderBy:'created'">
			<article class="panel panel-default">
				<div class="panel-heading">
		      <a class="remove pull-right" ng-click="removePost(post)">
		        <i class="ion-android-close icon_remove pointer"></i>
		      </a>
			    <a href="#/mis-posts/{{post._id}}" class="card-link">
						<h3 class="card-title text-center">{{post.title}}</h3>
			    </a>
			    <h6 class="card-subtitle text-muted">
			    	<div class="text-left">{{post.created | date:'mediumDate'}}</div>
			    	<div class="candidate-post-comments" style="text-align:right">
			    		<strong>{{post.comments.length}}</strong> comentarios
			    	</div>
			    </h6>
				</div>
			  <div class="panel-footer not-padding">
			    <a href="#/mis-posts/{{post._id}}" class="card-link right">
						<figure class="text-center candidate__post__image">
							<img ng-src="{{post.image.url}}" alt="image_post">
						</figure>
			    </a>
			  </div>
			</article>
		</div>
	  <div class="alert alert-warning text-center" ng-if="!posts.length">
	    Aún no tienes posts, si lo deseas puedes <a href="#/mis-posts/nuevo">crear uno</a>
	  </div>
	</div>
</section>

