<div class="container-fluid" ng-init="readPost()">
	<div class="margin-up">
		<aside class="col-md-4 col-lg-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Perfil</h3>
				</div>
				<div class="panel-body text-center">
					<img src="" alt="avatar" ng-src="{{currentPost.user.image.url}}" class="candidate-avatar">
					<h1>#{{currentPost.candidate.cardNumber}}</h1>
					<h4 class="green-light">{{currentPost.candidate.watchword}}</h4>
					<h3>{{currentPost.user.displayName}}</h3>
					<p class="margin-down">{{currentPost.user.program}}</p>
      		<div ng-if="currentPost.candidate.twitter.id || currentPost.candidate.instagram.id || currentPost.candidate.facebook.id">
      			<div class="signup-or-separator"><hr></div>
      			<h3 class="text-center">Redes Sociales</h3>
		        <a href="https://facebook.com/{{currentPost.candidate.facebook.id}}" ng-if="currentPost.candidate.facebook.id"	class="btn btn-block btn-facebook text-center" target="_blank" >
      				<figure class="left">
      					<img class="social-avatar" src="" alt="{{currentPost.candidate.facebook.username}}" title="{{currentPost.candidate.facebook.username}}" ng-src="{{currentPost.candidate.facebook.photo}}">
      				</figure>
    					<span class="ion-social-facebook" style="font-size:3em"></span>
    					<p>{{currentPost.candidate.facebook.username}}</p>
		        </a>
		        <a href="https://twitter.com/{{currentPost.candidate.twitter.username}}"	ng-if="currentPost.candidate.twitter.id" class="btn btn-block btn-twitter text-center" target="_blank" >
      				<figure class="left">
      					<img class="social-avatar" src="" alt="{{currentPost.candidate.twitter.username}}" title="{{currentPost.candidate.twitter.username}}" ng-src="{{currentPost.candidate.twitter.photo}}">
      				</figure>
    					<span class="ion-social-twitter" style="font-size:3em"></span>
    					<p><span class="ion-at"></span>{{currentPost.candidate.twitter.username}}</p>
		        </a>
		        <a href="https://instagram.com/{{currentPost.candidate.instagram.username}}"	ng-if="currentPost.candidate.instagram.id" class="btn btn-block btn-instagram text-center" target="_blank" >
      				<figure class="left">
      					<img class="social-avatar" src="" alt="{{currentPost.candidate.instagram.username}}" title="{{currentPost.candidate.instagram.username}}" ng-src="{{currentPost.candidate.instagram.photo}}">
      				</figure>
    					<span class="ion-social-instagram" style="font-size:3em"></span>
    					<p></span>{{currentPost.candidate.instagram.username}}</p>
		        </a>
      		</div>
				</div>
			</div>
		</aside>
		<section class="col-md-8 col-lg-9">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="text-center">{{currentPost.title}}</h1>
				</div>
				<div class="panel-body">
					<figure class="col-md-offset-1 text-center margin-down">
						<center>
							<img class="img-responsive" src="" alt="img-post" ng-src="{{currentPost.image.url}}" width="700px">
						</center>
					</figure>
					<p class="margin-down">{{currentPost.content}}</p>
					<h3 class="margin-up">Comentarios</h3>
					<div class="comments" ng-init="loadComments()">
						<div ng-repeat="comment in comments | orderBy:'created'">
							<div class="pull-right color-olive-light">
								<div ng-if="!comment.edited">{{comment.created | date:'d MMM y, h:mm a'}}</div>
								<div ng-if="comment.edited">editado {{comment.edited | date:'d MMM y, h:mm a'}}</div>
								<div class="pull-right">
		              <a  ng-if="comment.user._id === currentUser.sub" class="pointer size" ng-click="editComment(comment)">
		                <i class="ion-edit icon_edit"></i>
		              </a>
									 &nbsp;&nbsp;
		              <a ng-if="comment.user._id === currentUser.sub" class="pointer size" ng-click="deleteComment(comment)">
		                <i class="ion-trash-a icon_remove"></i>
		              </a>
								</div>
							</div>
							<figure  class="left">
								<img ng-src="{{comment.user.image.url}}" alt="user" class="comments-avatar">
							</figure>
							<small><strong>{{comment.user.displayName}}</strong> dice: </small>
							<p>{{comment.content}}</p>
	        		<div class="signup-or-separator"><hr></div>
						</div>
					  <div ng-if="!comments.length" class="alert alert-info text-center">
					    Aún no hay comentarios, se el primero en comentar.
					  </div>
					</div>
					<form method="post" ng-if="!formEdit" ng-submit="newComment()" name="comentForm" class="margin-up ng-pristine ng-invalid ng-invalid-required">
						<div class="form-group">
						<label for="content" class="control-label">Escribe tu comentario:</label>
							<textarea name="content" rows="4" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="addComment.content" required></textarea>
						</div>
						<div class="text-center">
							<button type="submit"  class="btn btn-lg btn-primary" ng-disabled="comentForm.$invalid">Comentar</button>
						</div>
					</form>
					<form method="post" ng-if="formEdit" ng-submit="updateComment()" name="updateComentForm" class="margin-up ng-pristine ng-invalid ng-invalid-required">
						<div class="form-group">
						<label for="content" class="control-label">Editar comentario:</label>
							<textarea name="content" rows="4" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="commentEdit.content" required></textarea>
						</div>
						<div class="text-center">
							<button type="submit"  class="btn btn-lg btn-warning" ng-disabled="updateComentForm.$invalid">Actualizar</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>
