<div class="container" >
  <div class="jumbotron">
    <h1>Unicor Elige</h1>
    <p class="lead text-center">
      <img src="images/logo.png" alt="unicorElige" width="200px"><br>
      Enterate y participa de las elecciones de representante estudiantil en la universidad de Cordoba.
    </p>
    <a class="btn btn-lg btn-success" ng-href="#/login">Ingresar</a>
  </div>
</div>
<!-- descripcion de la app -->
<section class="col-md-12 col-sm-12 col-xs-12 text-center background-olive-light">
  <div class="col-md-4 col-sm-6">
    <h2 class="text-center">Estudiantes</h2>
    <figure class="text-center margin-down">
      <img src="/images/students.png" alt="candidato" width="150px" class="img-rounded">
    </figure>
    <p>Unicor Elige brinda a toda la comunidad estudiantil la posiblidad de conocer en detalle quienes son los candidatos postulados para ser elegidos en las elecciones de representante estudiantil.</p>
  </div>
  <div class="col-md-4 col-sm-6">
    <h2 class="text-center">Candidatos</h2>
    <figure class="text-center margin-down">
      <img src="/images/candidato.png" alt="candidato" width="150px" class="img-rounded">
    </figure>
    <p>Unicor Elige le ofrece a los candidatos un espacio en el cual puedan administrar su perfil, publicar las propuestas de su plan de gobierno y además informen sobre eventos a realizar a toda la comunidad universitaria.</p>
  </div>
  <div class="col-md-4 col-sm-6">
    <h2 class="text-center">Resultados</h2>
    <figure class="text-center margin-down">
      <img src="/images/resultado.png" alt="candidato" width="150px" class="img-rounded">
    </figure>
    <p>Unicor Elige muestra los resultados de las elecciones de representante estudiantil utilizando diferentes graficas que ayudan y facilitan la visualzación de los resultados.  </p>
  </div>
</section>
<!-- equipo de trabajo -->
<section class="col-md-12 col-sm-12 col-xs-12 background-olive-light">
  <h2 class="text-center">Equipo</h2>
  <div class="col-md-4 col-sm-6 col-md-offset-2">
    <h2 class="text-center">Yennifer Sabie</h2>
    <figure class="text-center margin-down">
      <img src="/images/yenni.jpg" alt="candidato" width="100px" class="img-circle">
    </figure>
    <div class="social text-center">
      <ul class="social-network">
        <li><a href="https://www.facebook.com/yennifer.sabiealgarin?fref=ts" target="_blank" class="icoFacebook" title="Yennifer Sabie Algarin"><i class="ion-social-facebook"></i></a></li>
        <li><a href="https://twitter.com/yennisabie" target="_blank" class="icoTwitter" title="@yennisabie"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://plus.google.com/u/0/103716156642200546428/about" target="_blank" class="icoGoogle" title="Google +"><i class="ion-social-googleplus"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 ">
    <h2 class="text-center">Jorge Calle</h2>
    <figure class="text-center margin-down">
      <img src="/images/jmc.jpg" alt="candidato" width="100px" class="img-circle">
    </figure>
    <div class="social text-center">
    <ul class="social-network">
      <li><a href="https://www.facebook.com/jorge.calledehoyos" target="_blank" class="icoFacebook" title="Jorge Calle De Hoyos"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://twitter.com/Jomaca11" target="_blank" class="icoTwitter" title="@jomaca11"><i class="ion-social-twitter"></i></a></li>
      <li><a href="https://plus.google.com/u/0/"  target="_blank" class="icoGoogle" title="Jorge Calle"><i class="ion-social-googleplus"></i></a></li>
    </ul>
    </div>
  </div>
</section>
<div class="footer col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-4 col-xs-6 text-center">
    <h5>Yo <span class="glyphicon glyphicon-heart" style="color:red;"></span> Sahagún</h5>
  </div>
  <div class="col-md-4 col-xs-6 text-center">
    <h4>Unicor Elige <strong style="color:black;">©</strong> 2015</h4>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-6 text-center">
    <p>Si tienes alguna duda o inconveniente puedes escribirnos a <strong>unicorelige@gmail.com</strong> </p>
  </div>
</div>
