<div class="container_copy">
  <div class="center-form panel">
    <div class="panel-body">
      <h2 class="text-center">Cambiar Contraseña</h2>
      <br>
      <form method="post" ng-submit="reset()" name="changePasswordForm" class="ng-pristine ng-invalid ng-invalid-required">
        <div class="form-group has-feedback">
          <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="passwordOne" ng-model="password.password" placeholder="Nueva contraseña" required autofocus>
          <span class="ion-locked form-control-feedback"></span>
        </div>
        <button type="submit" ng-disabled="changePasswordForm.$invalid" class="btn btn-lg  btn-block btn-success" disabled="disabled">Guardar</button>
      </form>
    </div>
  </div>
</div>
